.form {
  position: relative;  
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  width: inherit;
  padding-bottom: 64px;
}

.input-section,
.input-section__fields {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.form__title {
  padding-bottom: 4px;
  border-bottom: 1px rgba(33, 53, 85, .15) solid;
}

.form__title>h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-color);
}

.date-fields {
  display: flex;
  column-gap: 16px;
  width: 100%;
}