.input-section,
.fields {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.input-section {  
  border-radius: 5px;
}

.title {
  padding-bottom: 4px;
  border-bottom: 1px rgba(33, 53, 85, .15) solid;
}

.title>h1 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--secondary-color);
}