.container {  
  display: grid;
  grid-template-columns: 40% 1fr;  
  width: 100%;
  height: calc(100vh - var(--header));
}

.cv-input {  
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 64px;
  padding: 32px 75px 32px 150px;
  background-color: white;
  overflow-y: auto;
}

.cv-template {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  overflow-y: auto;
}