.personal-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.personal-info__name {  
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.personal-info__contact {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  font-size: .75rem;
}